adminkeys.php
ai_detail.php
ai_detail2.php
ai_test.php
ai_test2.php
aidesccurl.php
aidesccurl2.php
arcfiles
bkup
bkupscripts
createfcusers.php
db/dbimages
db2/dbimages
dbimages
devexperimental
docs
doi/doiFiless
experimental/expimages
expimages
fieldZips
geotiff/upload/files
geotiff/upload/maps
includes/config.inc.php
jwtdb/dbimages
log.txt
microLogs
mockup
neo4j_migration
ogrtemp/*
!ogrtemp/.gitkeep
phppgadmin
profileimages
serialize/serialized
straboMicroDOI/doiFiless
straboMicroDOI/smzFiles
straboMicroFiles
straboMicroView/smzFiles
StraboSpotOffline.zip
versions
ziptemp
