body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

input {
	border-color: #ccc;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	color: #555;
	float: none;
	padding: 2px 3px;
}

.plusButton {
	border-color: #FFF;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	color: #555;
	float: none;
	padding: 2px 10px;
	width: 30px;
	background-color: #00cc00; /* #85e085 */
	color: #FFF;
	font-weight: bold;
}

.minusButton {
	border-color: #FFF;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	float: none;
	padding: 2px 10px;
	width: 30px;
	background-color: #cc0000; /* #ff8080 */
	color: #FFF;
	font-weight: bold;
}

.andOrColumn{
	float: left;
	padding-right: 5px;
	width: 50px;
}

.typeColumn {
	float: left;
	padding-right: 5px;
	width: 135px;
}

.resultColumn {
	float: left;
	padding-right: 5px;
	width: 180px;
}

.addRowColumn {
	foat: left;
	padding-right: 5px;
}

.deleteRowColumn {
	foat: left;
	padding-right: 5px;
}

.clearColumn {
	clear: left;
}

.itemRow {
	/* background-color: #EFEFEF; */
	padding: 2px 0px;
}

.yearLabel {
	font-size: .7em;
	font-weight: 700;
}

.existsLabel {
	font-size: .9em;
	font-weight: 700;
}

.searchSelect {

}

/*Placeholder Color for Different Browsers*/
::-webkit-input-placeholder { /* Edge */
  color: #999;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999;
}

::placeholder {
  color: #999;
}

.searchText {
	/*display: block;*/
	font-size: 11px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: 3px 1px 1px 3px;
	/*width: 100%;*/
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 100%);
}


.searchSelect {
	display: block;
	font-size: 11px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: 3px 15px 1px 1px;
	/*width: 100%;*/
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.searchSelect::-ms-expand {
	display: none;
}
.searchSelect:hover {
	border-color: #888;
}
.searchSelect:focus {
	/*
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
	*/
}
.searchSelect option {
	font-weight: 700;
}

.resultColumn {
	display: inline-block;
	white-space: nowrap;
}



.sidenav {
  background-color: #FFF;
  overflow-x: hidden;
  padding-top: 5px;
  padding-left: 8px;
  height: 100%;
}



.main {
  margin-left: 430px; /* Same as the width of the sidenav */
  padding: 0px;
}





.sideBarHeader {
    height: 60px;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    width:430px;
}
.sideBarContent {
    top: 60px;
    bottom: 80px;
    position: absolute;
    left:0;
    right:0;
    width:430px;
    padding: 5px;
    overflow-y: scroll;
}
.sideBarFooter {
    height: 80px;
    position: absolute;
    bottom: 0;
    background-color: #e0f2f1;
    left:0;
    right:0;
    width:430px;
}



.searchProjectBox {
	margin-bottom: 5px;

}

.searchProjectHeader {
	background-color: #ab000d;
	color: #FFFFFF;
	border: 1px solid #333333;
	padding: 3px;
	border-radius: 5px;
}

.searchProjectContent {
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	padding:5px 5px 5px 20px;
	border-radius: 5px;
}

.projectOwner {
	padding-left: 15px;
	font-size: .8em;
}





























.wrap-collabsible {
	margin-bottom: 1.2rem 0;
	padding-bottom: 3px;
}

input[type='checkbox'] {
	display: none;
}

.lbl-toggle {
	display: block;

	font-weight: bold;

	/*
	font-family: monospace;
	font-size: 1.2rem;

	text-transform: uppercase;
	text-align: center;
	padding: 1rem;
	*/

	font-size: .9em;

	padding: 2px 2px 2px 10px;


	color: #333;
	/*background: #FFF;*/ /*#ab000d      e96142*/

	/*background-image: linear-gradient(#999, #FFF, #999);*/

	background-image: linear-gradient(#CCCCCC, #FFF); /*#ffcdd2*/

	cursor: pointer;

	border-radius: 4px;
	border: 1px solid #666666;
	transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
	color: #666;
}

.lbl-toggle::before {
	content: ' ';
	display: inline-block;

	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);

	transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
	max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
	background: #ffffff;
	border-bottom: 1px solid rgba(250, 224, 66, .45);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 5px;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
}




















