* {
	box-sizing: border-box;
}

body {
	font-family: 'Open sans', sans-serif;
	font-size: 13px;
	color: #666666;
	min-height: 100%;
	background-color: #ffffff;
	height: 100%;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
	margin: 0;
	padding: 0;
}

a:link, a:visited { color: #f64c3f; text-decoration: none; }
a:hover { color: #fe8c83; text-decoration: none; }

#whole-doc {
	height: 100vh;
	width: 100vw;
	margin: 0 auto -42px;
	position: relative;
}

#footer {
	height: 42px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	width: 100%;
    /*position: absolute;*/
    bottom: 0;
}

#loadingMessage {
	z-index: 50;
	position: absolute;
	height: 58px;
	width: 300px;
	background-color: #FFF;
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Open sans', sans-serif;
	vertical-align: middle;
	border-radius: 10px;
	padding-left: 20px;
	border: 1px solid #333;
	/*top: 100px;*/
	left: 50%;
	/*transform: translate(-50%, -50%);*/
	transform: translate(-50%, 50px);
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	font-weight: normal;
	color: #484848;
	padding: .3em 0;
	margin-bottom: 1px;
	margin-top: 0px;
}

ol {
	padding-left:0px;
	margin-top:0px;
	margin-bottom:0px;
}

#leftColumn{
	background-color:white;
	float: left;
	width: 240px;
	max-height: 650px;
	overflow: auto;
}

#centerColumn{
	background-color:white;
	float: left;
	width: 760px;
	padding-left:10px;
}

#rightColumn{
	background-color:white;
	float: left;
	width: 300px;
	height: 650px;
	padding-left:5px;
}

.floatLeft{
	float: left;
}

.clearLeft{
	clear: left;
}

.projectWrapper{
	width:1320px !important;
}

#topBar {
	text-transform: uppercase;
	padding-left: 410px;
	font-family: 'Raleway', sans-serif;
	font-size: 52px;
	font-weight: normal;
	color: #484848;
	vertical-align: top;
	padding-top: 50px;
	padding-bottom: 2px;
}

#topLogo {
	height: 41px;
	width: 41px;
}

#topHRDiv {
	margin-bottom: 20px;
}

#topHR {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-top: 20px;
}

#content-wrapper {
	width: 1320px;
	margin: auto;
}

#outsideWrapper{
    width:750px;
    height:750px;
}

#insideWrapper{
    width:100%;
    height:100%;
    position:relative;
}

#mainImage{
    width:100%; height:100%;
    position:absolute;
    top:0px;
    left:0px;
}

#coveringCanvas{
    width:750px;
    height:350px;
    position:absolute;
    top:0px;
    left:0px;
}

.sampleLabel {
	font-weight:bold;
	background-color:#EFEFEF;
	text-align:center;
	padding: 3px;
	border: 1px solid #ddd;
	border-radius: 6px;
}

.micrographName {
	padding-top:3px;
	font-weight:bold;
	text-decoration: underline;
}

#rightHeader {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}


